header{
  background-color: rgb(86, 65, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100px;
  color: white;
}

header a{
  color: white;
  text-decoration: none;
  list-style: none;
}

header a:hover{
  color: rgb(68, 132, 168);
  transition: 0.3s;
  background-color: aqua;
  border-radius: 5px;
  padding: 5px;
  
}

.logo{
  font-size: 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

